.timeline-list{
    padding: 0;
    list-style: none;
    border:1px solid #DDD;
    border-radius:7px;
    margin: 20px 0 0 0;
}

.timeline-list-item{
    padding:10px;
    border-bottom:1px solid #DDD;
}