<section>
    <div>
        <h2>Granularity</h2>
        <select [(ngModel)]="granularity">
            <option value="hourly">Hourly</option>
            <option value="daily">Daily</option>
            <option value="monthly">Monthly</option>          
        </select>
    </div>

    <div>
        <h2>Years</h2>
        <div *ngFor="let year of measurementYears">
            <input type="radio" name="year" [value]="year" [(ngModel)]="selectedYear"/><label>{{year}}</label>
        </div>
    </div>
    {{selectedYear}}
    <div>
        <h2>Months</h2>

        <input type="radio" name="month" value="1" [(ngModel)]="selectedMonth"/><label>Ene</label>
        <input type="radio" name="month" value="2" [(ngModel)]="selectedMonth"/><label>Feb</label>
        <input type="radio" name="month" value="3" [(ngModel)]="selectedMonth"/><label>Marz</label>
        <input type="radio" name="month" value="4" [(ngModel)]="selectedMonth"/><label>Abr</label>
        <input type="radio" name="month" value="5" [(ngModel)]="selectedMonth"/><label>May</label>
        <input type="radio" name="month" value="6" [(ngModel)]="selectedMonth"/><label>Jun</label>
        <input type="radio" name="month" value="7" [(ngModel)]="selectedMonth"/><label>Jul</label>
        <input type="radio" name="month" value="8" [(ngModel)]="selectedMonth"/><label>Ago</label>
        <input type="radio" name="month" value="9" [(ngModel)]="selectedMonth"/><label>Sep</label>
        <input type="radio" name="month" value="10" [(ngModel)]="selectedMonth"/><label>Oct</label>
        <input type="radio" name="month" value="11" [(ngModel)]="selectedMonth"/><label>Nov</label>
        <input type="radio" name="month" value="12" [(ngModel)]="selectedMonth"/><label>Dic</label>
        
    </div>

    <div>
        <h2>Magnitudes</h2>
        <div *ngFor="let magnitude of magnitudes">
            <input type="checkbox" [(ngModel)]="magnitude.checked"/><label>{{magnitude.id}}</label>
        </div>
    </div>
    {{selectedYear}}

    <button (click)="getMeasurements()">Load data</button>

    <!--
    

    <div>
        <div>
            <input type="checkbox"/><label>Todos</label>
        </div>
        <div *ngFor="let station of stations">
            <input type="checkbox"/><label>{{station.id}}</label>
        </div>
    </div>

    <div>
        <div>
            <input type="checkbox"/><label>Todos</label>
        </div>
        <div *ngFor="let magnitude of magnitudes">
            <input type="checkbox"/><label>{{magnitude.id}}</label>
        </div>
    </div>

    <div>
        <ul>
            <li *ngFor="let measurement of measurements">{{measurement.datetime}}{{measurement.data}} - - - {{measurement.magnitudeId}}</li>
        </ul>
    </div> -->
    <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi">
    </ngx-charts-line-chart>

</section>