@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
@import '~leaflet/dist/leaflet.css';

html, body{
    margin:0;
    padding: 0;
}

.layout{
    max-width: 1200px;
}

.view{
    margin:20px 0;
}

.padding{
    padding: 5px 10px;
}


.list{
    padding: 0;
    list-style: none;
    border:1px solid #DDD;
    border-radius:7px;
    margin: 20px 0 0 0;
}

.list-item{
    padding:10px;
    border-bottom:1px solid #DDD;
}